@font-face {
	font-family: 'Santanita';
	src: url('SantanaXtraCondensed_0.eot');
	src: url('SantanaXtraCondensed_0.eot?#iefix') format('embedded-opentype'),
		url('SantanaXtraCondensed_0.ttf') format('truetype');
}